.menuOuterContainer{
    width: 100vw;
    border: 1px solid green;
    /* margin: 10px; */
}

.menuButtonsContainer{
    width: 40%;
    border: 1px solid red;
    height: 50px;
   margin: auto;
   display: flex;
    justify-content: center;
 column-gap: 10px;
}


.cust-menuBtn{
    background-color: #040434;
    color: rgb(216, 207, 100);
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
       min-width:120px;
    padding:15px;
    border:1px solid rgb(186, 11, 11);
    /* border-radius: 40px; */
    text-align: center;
    text-decoration: none;
    
}

.eachItemsOuterContainer{
    border: 2px solid black;
}

.menuHeadingStyle{
    border: 2px solid rgb(212, 18, 50);
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    color:#040434;
    font-family: 'Courier New', Courier, monospace;
}

.menuContainer{
    /* height: 370px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.eachItemContainer{
    border: 2px solid brown;
    width: 30%;
    height: 140px;
    display: flex;
}

.itemImageStyle{
    height: 100%;
    width: 50%;
}

.itemDetils{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:4px;
    font-weight: 550;
   color:#040434;
}

.addToCart{
   width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid grey; */
}

.add-clickBtn{
    background-color: #040434;
    color: rgb(216, 207, 100);
    border: none;
    font-weight: bold;
    font-size: 0.7rem;
    padding:4px;
    /* border:1px solid rgb(186, 11, 11); */
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

}

.add-clickBtn:hover{
    background-color: #101087; 
}



.spanStyle{
    padding: 5px;
}