.adminPageOuterContainer{
    width: 100vw;
    /* height: 100vh; */
    /* border: 1px solid green; */
    background-image: url('https://img.freepik.com/premium-photo/free-indian-flower-pattern-rangoli-background_1264014-27149.jpg');
    background-size: cover;  /*This makes the image cover the entire screen */ 
    background-position: center; /* This centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
   

}

