
.adminbodyOuterContainer{
    width: 100%;
    /* border: 1px solid green; */
    
}

.addOuterContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}


.clickBtn{
    background-color: rgb(216, 207, 100);
    color: #040434;
    border: none;
    /* margin-top: 16px; */
    font-weight: bold;
    font-size: 1.2rem;

    min-width:200px;
    padding:15px;
    /* border:1px solid black; */
    /* border-radius: 40px; */
    
    
}

.clickBtn:hover{
    /* background-color: #101087; */
    color: #3333ce;
  
}

.itemsOuterContainer{
    /* border: 2px solid rgb(182, 27, 53); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.eachItem{
    border: .2px solid #c7c7c9; /* Border color and width */
    box-shadow: 5px 2px 7px 2px rgba(6, 6, 114, 0.5); /* Shadow effect */
    width: 20%;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.pstyle{
    width: 60%;
    /* border: 1px solid red; */
    color: #040434;
    font-size: 1.1rem;
    font-weight: 700;
}

.twinbtn{
    /* border: 1px solid black; */
 padding: 2px;
 width: 30%;
 margin: 0px 5px;
 display: flex;
 justify-content: space-around;
 
 
}
.twinBtnStyl{
    margin: 0px 2px;
    background-color: #040434;
 color: white;
 border: none;
 /* margin-top: 16px; */
 font-weight: bold;
 padding: 5px;
 border-radius: 5px;
}

.twinBtnStyl:hover{
    /* background-color: #101087; */
    text-decoration: underline;
    
}